{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Final Report Page for the CPR game B: Practice
{% endblock %}

{% block content %}

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p>Thank you. This is the end of the CPR game A: Practice .</p>
            <p>Your Earnings is {{ player.participant.vars.totalEarnings_ap }} tokens which is equal to <strong>${{player.participant.vars.totalCash_ap}}</strong>. </p>
            <br>
            <p>I hope the practice game may help you to earn more in the real game. Next, you will be playing the same game with the real payment.</p>
        </div>
    </div>

{% next_button %}
{% endblock %}

