{% extends "global/Page.html" %}
{% load static %}

{{ block style }}
   <link rel="stylesheet" type="text/css" href="{{ static 'global/global_styles.css' }}"/>
{{ endblock }}

{{ block title }}
    Common-Pool Resource Games
{{ endblock }}
{{ block content }}

        <p>
        Here are some quizzes to ensure your understanding of the instruction.
        Please answer each question carefully.
        </p>

    <div class="card bg-light mb-3">
        <div class="card-body">

            <h4>Quiz</h4>

            {{ formfields }}

        </div>
    </div>


<br><br><br>

    {{ next_button }}

{{ endblock }}