{% extends "global/Page.html" %}
{% load static %}

{{ block style }}
   <link rel="stylesheet" type="text/css" href="{{ static 'global/global_styles.css' }}"/>
    <style>
       h5 {
           text-decoration: underline;
       }
   </style>
{{ endblock }}

{% block title %}
    Part 2: Instructions
{% endblock %}


{% block content %}

<div class="narrow-body">

    <!-- ######################################### Page 1 #############################################  -->

    <div id="instPage1" style="display: none;">

    <div class="instructions-subheading">Random Matching and Anonymity</div>
    <p>
        In this part, you will be <strong>randomly reassigned to a group of 8 people</strong>.
        The group you are assigned to will stay the same throughout <strong>Part 2</strong>.
    </p>

    <div class="instructions-subheading">Multiple Rounds</div>
    <p>The game consists of <strong>10 decision rounds</strong>.</p>


    <div class="instructions-subheading">Earnings</div>
    <p>Your earnings in this part will be the <strong>sum of your earnings across all 10 rounds</strong>.</p>

    <div class="instructions-subheading">Setting</div>
    <p>
        <strong>The setting for Part 2 will be the same as in Part 1.</strong>
        <br>
        You will be playing an <strong>effort allocation game</strong> in a <strong>group of 8 people</strong>. <br>
        In each round, you will decide how to allocate efforts between two different activities. <br>
        Each round, you are endowed with <strong>25 efforts</strong> and must decide how many to allocate
        to <strong>Activity A</strong> and <strong>Activity B</strong>.
    </p>

    <div style="text-align: center;">
      <button class="button" type="button" onclick="showPage2();">Next Page >></button>
    </div>

    </div>


     <!-- ######################################### Page 2 #############################################  -->

    <div id="instPage2" style="display: block;">

        <div class="card bg-light m-3">
            <div class="card-body">

        <div class="instructions-subheading">Situation 1</div>

        <p>
            This is round 1 of the game. <br>
            Assume the group's total allocation to Activity B is <strong>80 efforts</strong>.
            <br> <br>
            The return for each effort allocated to Activity B will be:
            <br>
             <strong>20 - 0.1171 × 80 = 10.63 ECUs per effort</strong>
        </p>

        <p>
            If you allocate <strong>10 efforts</strong> to Activity B, your earnings from Activity B will be:
            <br>
            <strong>10 × 10.63 = 106.3 ≈ 106 ECUs</strong>
        </p>

        <p>
            For your remaining <strong>15 efforts</strong> allocated to Activity A, your earnings from Activity A will be:
            <br>
            <strong>15 × 5 = 75 ECUs</strong>
        </p>

        <p>
            Thus, your total earnings for this round will be:
            <br>
            <strong>106 + 75 = 181 ECUs</strong>
        </p>

        <p>
            Figure below illustrates the example above.
        </p>

    <div style="text-align: center;">
        <img style="width: 800px;" src="/static/baseline_ex1.png" alt="Figure 4 "><br/><br/>
    </div>

        </div>
    </div>

    <div style="text-align: center;">
        <button class="button" type="button" onclick="showPage1();"> << Previous Page</button>&nbsp;&nbsp;&nbsp;
        <button class="button" style="width: 300px;" >Finish Reading Instructions</button>
    </div>

    </div>

</div>


    <!-- ######################################### Script Code #############################################  -->

<script>

        function showPage1() {
          showPage(document.getElementById('instPage1'));
          hidePage(document.getElementById('instPage2'));
          $('html,body').scrollTop(0);
        }
        function showPage2() {

          hidePage(document.getElementById('instPage1'));
          showPage(document.getElementById('instPage2'));
          $('html,body').scrollTop(0);

        }
        function hidePage (element) {
        //        element.style.visibility = 'hidden';
        element.style.display = "none";

        }
        function showPage (element) {
        element.style.display = "block";

        }
        showPage1();
    </script>

{% endblock %}