{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    <strong>Destruction of Resource!</strong>
{% endblock %}

{% block content %}


    <p>
        The game has ended. The resource has been destroyed because of <strong>over-harvesting</strong>. <br> <br>
        In other words, the total harvest <strong>{{ group.total_harvest }}</strong> exceeded the safety line {{ group.safety }} <strong>AND</strong> <br>
        The drawn number is <strong><Font COLOR="#ff0000"> {{ group.destruction }}</Font></strong> is
        less or equal to the group's total harvest <strong>{{ group.total_harvest }}</strong>. <br>
    </p>


    {% next_button %}


{% endblock %}