{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Harvest
{% endblock %}

{% block content %}

    <p>
        This is a common-pool resource game with
        {{ Constants.players_per_group }} players per group, <br>
        an <strong> endowment of {{ Constants.endowment }} tokens</strong>.
        You will choose how much effort you want to put for harvest the common-pool resource.
    </p>

    <p>
        How much do you want to invest in harvesting the resource? <br>
        Input between <strong>0-25</strong>.
    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}